@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-image: url("./images/declassifiedTiny.jpg");
    /* background-size: cover; */
    /* background-position: center top; */
    /* height: 700px; */
    background-repeat: repeat;
    /* text-align: center;
    color: white; */
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 20px;
    border-bottom: 10px solid rgb(167, 4, 4);
}

.nav ul {
    list-style: none;
}

.nav li{
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
    color: white;
}

.nav li a:link {
    text-decoration: none;
    color: white;
}
  
.nav li  a:visited {
    text-decoration: none;
    color: white;
}
  
.nav li  a:hover {
    text-decoration: underline;
    color: white;
}
  
.nav li  a:active {
    text-decoration: underline;
    color: white;
}

.header h1{
    font-size: 35px;
    margin-top: 250px;
}

.header p{
    font-size: 35px;
    margin-top: 20px;
}

.main{
    padding-top: 35px;
    background-color: whitesmoke;
}

.main h2{
    text-align: center;
    font-size: 35px;
}

.main img{
    width: 300px;
}

.wrapper{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    display: inline-block;
    width: 400px;
    padding-left: 50px;
}

.container h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.container p{
    font-size: 30px;
}

.container ul{
    margin-top: 30px;
    margin-left: 50px;
}

.container li{
    font-size: 30px;
}